################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/c++Tetis/v16
/.vs/c++Tetis/v15/Browse.VC.opendb
/.vs/c++Tetis/v15/Browse.VC.db
/c++Tetis/x64/Debug
/x64/Debug
